.left-section-item span {
    margin-right: 15px;
}

.left-section-item {
    cursor: pointer;
}


#editable-section {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    height: 600px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
  }

  .box {
    height: calc(100vh - 56px); /* subtract height of navbar */
    overflow-y: auto;
  }